<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap"
          rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/font-awesome.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/css/templatemo-hexashop.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/owl-carousel.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/lightbox.css}"/>
</head>
<body>
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <img alt="hexashop ecommerce templatemo" src="/assets/images/white-logo.png"/>
                    </div>
                    <ul>
                        <li><a href="#">Số 01 Võ Văn Ngân, Thành phố Thủ Đức</a></li>
                        <li><a href="#">hoadaknong101@gmail.com</a></li>
                        <li><a href="#">0388 891 635</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Mua sắm &amp; Danh mục</h4>
                <ul>
                    <li><a href="#">Dành cho nam</a></li>
                    <li><a href="#">Dành cho nữ</a></li>
                    <li><a href="#">Dành cho trẻ</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Chuyển hướng</h4>
                <ul>
                    <li><a href="#">Trang chủ</a></li>
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Trợ giúp</a></li>
                    <li><a href="#">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Trợ giúp &amp; Thông tin</h4>
                <ul>
                    <li><a href="#">Trợ giúp</a></li>
                    <li><a href="#">Điều khoản</a></li>
                    <li><a href="#">Giao hàng</a></li>
                    <li><a href="#">Theo dõi</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>
                        Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved.

                        <br/>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a>
                    </p>
                    <ul>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>
