<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/icon_page.png" />
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
    <link rel="stylesheet" href="/style/style.css" />
    <title>Admin Dashboard</title>
</head>
<body>
<div class="page-wrapper">
    <input type="checkbox" name="" id="menu-toggle" />
    <!--Side bar    -->
    <div th:replace="~{component/sidebar :: sidebar}"></div>
    <!-- Side bar end    -->
    <div class="main-content">
        <div th:replace="~{component/_header_admin :: _header_admin}"></div>
        <main>
            <div class="page-header">
                <h1>Quản lí sản phẩm</h1>
                <small>Chúc các bạn một ngày tốt lành!</small>
            </div>
            <div class="product-tag">
                <div>
                    <a href="/web_shop/admin/products" class="btn btn-white">Sản Phẩm</a>
                </div>
                <div>
                    <a href="/web_shop/admin/products/brands" class="btn  btn-choosed">Thương hiệu</a>
                </div>
                <div>
                    <a href="/web_shop/admin/products/categories" class="btn btn-white">Loại sản phẩm</a>
                </div>
            </div>
            <div class="table-product-container">
                <div class="card table-products-alls">
                    <div class="card-head">
                        <div class="product-head">
                            <div>
                                <h3>[[${title}]]</h3>
                                <small>[[${_action}]] thương hiệu sản phẩm(brand)</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <form action="/web_shop/admin/products/brands/save" th:object="${brand}">
                                <input type="hidden" th:field="*{id}">
                                <div class="form-group">
                                    <label for="name">
                                        <h4>Tên thương hiệu</h4>
                                    </label>
                                    <input type="text" id="name" class="form-control input" th:field="*{name}" />
                                </div>
                                <div class="form-group">
                                    <label for="description">
                                        <h4>Mô tả</h4>
                                    </label>
                                    <textarea
                                            name="description"
                                            id="description"
                                            style="max-width: 1519px; height: 300px"
                                            class="form-control input"
                                            th:field="*{description}"
                                    ></textarea>
                                </div>
                                <div class="card-footer border-top">
                                    <div class="action-add-product">
                                        <input type="submit" class="btn btn-save" value="Lưu"/>
                                        <a href="/web_shop/admin/products/brands" class="btn btn-danger">Hủy</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
