<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Đặt lại mật khẩu</title>
    <link rel="icon" th:href="@{/img/logo-icon-dark.png}"/>    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Hãy kiểm tra thư điện tử để đặt lại mật khẩu</h1> <br>
    <h2>Quay lại <a href="/sign_in_sign_up">đăng nhập</a></h2>
</body>
</html>